@font-size: 16; // Your base font-size in pixels
@line: 24;
@em: @font-size*1em; // Shorthand for outputting ems, e.g. "12/@em"

@column: 48; // The column-width of your grid in pixels
@gutter: 24; // The gutter-width of your grid in pixels
  
body, div, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section {
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  height: 100%;
}

body {
  font-size: 100%;
  min-height: 100%;
  -webkit-tap-highlight-color: rgba(255,0,0, 0.62);
}

a img, img {
  -ms-interpolation-mode: bicubic;
  border: 0;
}

::selection {
  background: @link-hover;
  color: white;
}

::-moz-selection {
  background: @link-hover;
  color: white;
}

::-webkit-selection {
  background: @link-hover;
  color: white;
}

img::selection { background: transparent; }

img::-moz-selection { background: transparent; }
  
/* MICRO CLEARFIX HACK */
.cf{
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
    &:before, &:after {
        content: "";
        display: table; /* For modern browsers */
    }
    &:after {
        clear: both;
    }
}

/* MEDIA */
figure { margin: 0; }

/* Fluid images */
img, object {
  height: auto;
  max-width: 100%;
  _width: 100%;
}

/* Improve IE's resizing of images */
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
}

/* responsive videos */
.video figure {
  height: 0;
  nowhitespace: afterproperty;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.video iframe, .video object, .video embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
  
/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.border-radius(@radius: 4px) {
  -webkit-border-radius: @arguments;
  -moz-border-radius: @arguments;
  border-radius: @arguments;
}

.border-radius-ind(@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
  -webkit-border-top-right-radius: @topright;
  -webkit-border-top-left-radius: @topleft;
  -webkit-border-bottom-right-radius: @bottomright;
  -webkit-border-bottom-left-radius: @bottomleft;
  -moz-border-radius-topright: @topright;
  -moz-border-radius-topleft: @topleft;
  -moz-border-radius-bottomright: @bottomright;
  -moz-border-radius-bottomleft: @bottomleft;
  border-bottom-left-radius: @bottomleft;
  border-bottom-right-radius: @bottomright;
  border-top-left-radius: @topleft;
  border-top-right-radius: @topright;
}

.box-shadow(@shadow: 1px 1px 2px rgba(0,0,0,0.25)) {
  -webkit-box-shadow: @shadow;
  -moz-box-shadow: @shadow;
  box-shadow: @shadow;
}

.inner-shadow-lt(@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.5) {
  -webkit-box-shadow: inset @x @y @blur @spread rgba(255, 255, 255, @alpha);
  -moz-box-shadow: inset @x @y @blur @spread rgba(255, 255, 255, @alpha);
  box-shadow: inset @x @y @blur @spread rgba(255, 255, 255, @alpha);
}

.inner-shadow-drk(@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.5) {
  -webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
  -moz-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
  box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.text-shadow(@string: 0 1px 3px rgba(0, 0, 0, 0.25)) { text-shadow: @string; }

.opacity(@opacity: 0.5) {
  -webkit-opacity: @opacity;
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  opacity: @opacity;
  @opperc: @opacity * 100;
  -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
  filter: ~"alpha(opacity=@{opperc})";
}

.rems(@px-size) { 
  @rem-size: @px-size / @font-size; 
  font-size: ~"@{px-size}px"; 
  font-size: ~"@{rem-size}rem"; 
}

.gradient(@startColor: #555, @endColor: #333) {
  background-color: @endColor;
  background-image: -moz-linear-gradient(top, @startColor, @endColor); // FF 3.6+
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), to(@endColor)); // Safari 4+, Chrome 2+
  background-image: -webkit-linear-gradient(top, @startColor, @endColor); // Safari 5.1+, Chrome 10+
  background-image: -o-linear-gradient(top, @startColor, @endColor); // Opera 11.10
  background-image: linear-gradient(to bottom, @startColor, @endColor); // Standard, IE10
  background-repeat: repeat-x;
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@startColor),argb(@endColor))); // IE9 and down
}

.transition(@transition: all linear .2s) { 
  -webkit-transition: @transition; 
  -moz-transition: @transition; 
  transition: @transition;
}

// Margin mixin (Katie Harron) - enter pixel values in order: margin-top, margin-right, margin-bottom, margin-left
// Usage: .mar(10, 30, 15, 20);
.mar(@mt: 0; @mr: 0; @mb: 0; @ml: 0;) { 
  @mtv: @mt / @font-size;
  @mrv: @mr / @font-size;
  @mbv: @mb / @font-size;
  @mlv: @ml / @font-size;
  margin: ~"@{mt}px" ~"@{mr}px" ~"@{mb}px" ~"@{ml}px";
  margin: ~"@{mtv}rem" ~"@{mrv}rem" ~"@{mbv}rem" ~"@{mlv}rem";
}
 
// Padding mixin (Katie Harron) - enter pixel values in order: padding-top, padding-right, padding-bottom, padding-left
// Usage: .pad(5, 10, 5, 10);
.pad(@pt: 0; @pr: 0; @pb: 0; @pl: 0;) { 
  @ptv: @pt / @font-size;
  @prv: @pr / @font-size;
  @pbv: @pb / @font-size;
  @plv: @pl / @font-size;
  padding: ~"@{pt}px" ~"@{pr}px" ~"@{pb}px" ~"@{pl}px";
  padding: ~"@{ptv}rem" ~"@{prv}rem" ~"@{pbv}rem" ~"@{plv}rem";
}

@link: #4a8db8;
@link-hover: #1b5c85;
@link-visited: #e56000;

.fl{float: left;}
.fr{float: right;}
.center{text-align: center;}
.uc{text-transform: uppercase;}
.hide-sm{display: none;}

// HYPERLINKS
a {color: @link; text-decoration: none; transition: all 0.3s ease-out;
  &:hover {color: @link-hover;}
  &:active {color: @link;}
  &:visited {color: @link-visited;}
}
a:focus { outline: thin dotted; }
a:hover, a:active { outline: none; } /* Better CSS Outline Suppression */

body { background: #fff; color: #000; font: 100%/150% Arial,Helvetica,Verdana,sans-serif; }

/* body::before{ content: "No media query (0-600px) fired"; font-weight: bold; display: block; text-align: center; background: rgba(255,255,0, 0.9); position: absolute; top: 0; left: 0; right: 0; z-index: 99; } */

@font-face {
  font-family: 'InterstateLight';
  src: url('Interstate-Light/e9258aa9-8d38-4395-b7e7-e18df29986f1-2.eot'); /* IE9 Compat Modes */
  src: url('Interstate-Light/e9258aa9-8d38-4395-b7e7-e18df29986f1-2.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('Interstate-Light/e9258aa9-8d38-4395-b7e7-e18df29986f1-3.woff') format('woff'), /* Modern Browsers */
    url('Interstate-Light/e9258aa9-8d38-4395-b7e7-e18df29986f1-1.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('Interstate-Light/e9258aa9-8d38-4395-b7e7-e18df29986f1-4.svg#InterstateLight') format('svg'); /* Legacy iOS */
  font-weight: normal;
}

.base() { font-family: Arial, Helvetica, sans-serif; }

.sans() {
  font-family: "InterstateLight", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.wrapper {
  margin: auto;
  .pad(20,20,5,20);
  max-width: 37.5em;
  width: 100%;
  .cf;
}


// Media Queries
/* TINY 480px+
@media only screen and (min-width: 30em) {
  body::before {
    background: rgba(255,255,0, 0.9);
    content: "Tiny media query (480+) fired";
    display: block;
    font-weight: bold;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 99;
  }

  .wrapper { max-width: 37.5em; }
  
}*/

/* SMALL 600px+ */
@media only screen and (min-width: 37.5em) {
  /* body::before { content: "Small media query (600+) fired"; font-weight: bold; display: block; text-align: center; background: rgba(255,255,0, 0.9); position: absolute; top: 0; left: 0; right: 0; z-index: 99; } */
  
  .wrapper { max-width: 48em; }
  
}

/* MEDIUM 768px+ */
@media only screen and (min-width: 48em) {
  /* body::before { content: "Medium media query (768+) fired"; font-weight: bold; display: block; text-align: center; background: rgba(255,255,0, 0.9); position: absolute; top: 0; left: 0; right: 0; z-index: 99; } */
  
  .wrapper { max-width: 60em; }
  
}

/* Large 960px+ */
@media only screen and (min-width: 60em) {
  /* body::before { content: "Large media query (960+) fired"; font-weight: bold; display: block; text-align: center; background: rgba(255,255,0, 0.9); position: absolute; top: 0; left: 0; right: 0; z-index: 99; } */
  
  .wrapper { max-width: 71.25em; }
  
}

/* Giant 1140px - 1440px */
@media only screen and (min-width: 71.25em) {
  /* body::before { content: "Giant media query (1140+) fired"; font-weight: bold; display: block; text-align: center; background: rgba(255,255,0, 0.9); position: absolute; top: 0; left: 0; right: 0; z-index: 99; } */
  
  .wrapper { max-width: 90em; }
  
}